.donation .btn-donation{
	display: none;
}
.donation{
	margin-top: 50px;
}
.toc-article{
	border-left: 1px solid #f2f2f2;
	padding-left: 10px;
	line-height: 2;
}
.article-content h2{
	font-size: 22px;
    border-left: 5px solid #1abc9c;
    padding-left: 8px;
    line-height: 1;
}
